:root {
    --ion-background-color: var(--ion-color-light);
    --ion-toolbar-background: rgb(70, 124, 177);
    --ion-button-color: var(--ion-color-light-contrast);
    --table-background: var(--ion-color-light);
    --text-color: var(--ion-color-light-contrast);
    --content-table-title: var(--ion-color-primary);
    --content-table-description: var(--ion-color-medium-shade);
  }
