<ion-header><!--Header-->
  <ion-toolbar>
    <ion-buttons slot="start"><!--Header Buttons (left side)-->
      <button class="homeButton" (click)="home()"> <img src="assets/Images/Menu_Icons/Home.svg"
          height="20em" /></button><!--Home button-->
      <img class="headerLogo" [src]="appConfig.headerImage" *ngIf="appConfig.headerImage" />
    </ion-buttons>

    <ion-title class="title">{{ 'home.title' | translate }}</ion-title><!--App Title-->

    <ion-buttons slot="end"><!--Header Buttons (right side)-->
      <ion-searchbar id="searchInput" class="custom" placeholder="{{ 'home.search' | translate }}" autocomplete="off"
        (ionInput)="search()"></ion-searchbar>
      <!-- <img class="rightHeaderImg" src="assets/Images/Logo_4B.png" /> -->
      <!--Settings button-->
    <ion-button fill="clear" (click)="openEndMenu()" class="settingsButton"><img src="assets/Images/Menu_Icons/Settings.svg" class="itemIcon" /></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--First level content menu-->
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" side="start" type="split">
      <ion-content>
        <ng-container *ngFor="let menuItem of menumodel">
          <div>
            <ion-button fill="clear" (click)="FillContent(menuItem)"><img src="{{menuItem.icon}}" class="itemIcon">{{menuItem.title}}</ion-button>
          </div>
        </ng-container>

        <br />
      </ion-content>
    </ion-menu>
  </ion-split-pane>

  <div class="contentWrapper"><!--Content display-->
    <!--Navigation items container-->
    <div class="nav-container">
      <div class="breadcrumb" *ngIf="breadcrumbs.length > 0"><!--Breadcrumb-->
        <ng-container *ngFor="let breadcrumb of breadcrumbs; let i = index">
          <span (click)="breadcrumbNavigation(i)" class="breadcrumb-item">{{ breadcrumb }}</span>
          <ng-container *ngIf="i < breadcrumbs.length - 1">
            <span class="breadcrumb-separator"> > </span>
          </ng-container>
        </ng-container>

        <!--Filter button (on navigation)-->
        <ion-button *ngIf="childContent.length > 0" class="filterButton" fill="clear" (click)="openFilter()"><img
            src="assets/Images/Menu_Icons/Filter.svg" class="itemIcon" />{{ 'home.filter' | translate }}</ion-button>
      </div>

      <!--Navigation Buttons-->
      <div class="navButtons">
        <ion-button *ngIf="showBackButton" shape="round" fill="clear" (click)="backButton()"><img src="assets/Images/Menu_Icons/Back.svg" /></ion-button>
        <ion-button *ngIf="showForwardButton" shape="round" fill="clear" (click)="forwardButton()"><img src="assets/Images/Menu_Icons/Forward.svg" /></ion-button>

        <!-- Secondary back button(on general search)-->
        <ion-button *ngIf="filteredData.length > 0" fill="clear" shape="round" (click)="searchBackButton()"><img
            src="assets/Images/Menu_Icons/Back.svg" class="itemIcon" /></ion-button>

      </div>

      <!-- Filter button-->
      <ion-button *ngIf="filteredData.length > 0" class="filterButton" fill="clear" (click)="openFilter()"><img src="assets/Images/Menu_Icons/Filter.svg" class="itemIcon" />{{ 'home.filter' | translate }}</ion-button>

      <!--Filter options-->
      <ion-select #filterSelect label="{{ 'home.filter' | translate }}" [(ngModel)]="selectedFilters" multiple="true"
        (ionChange)="search()" interface="popover" class="hiddenSelect">
        <ion-select-option value="title">{{ 'filter.title' | translate }}</ion-select-option>
        <ion-select-option value="description">{{ 'filter.description' | translate }}</ion-select-option>
      </ion-select>      
    </div>

    <!--Page description-->
    <div #description id="main-content">
      <p class="description">{{ 'home.description' | translate }}</p>
    </div>

    <!--Not Found message-->
    <div *ngIf="notFoundMessage">
      <p class="notFoundMessage">{{ 'home.noItemFound' | translate }}</p>
    </div>


    <div class="gridContainer"><!--Content grid-->
      <ng-container *ngFor="let item of childContent">
        <ion-card *ngIf="item.url && !item.hidden">
          <ion-card-header (click)="navigation(item)">
            <ion-card-title><a (click)="navigation(item, $event)" class="cardTitle">{{ item.title
                }}</a></ion-card-title>
            <ion-card-subtitle class="cardSubtitle">
              <p>{{ item.description }}</p>
            </ion-card-subtitle>
          </ion-card-header>

          <!--Update frequency display (only if previously set)-->
          <ion-card-content *ngIf="item.time">
            <p>{{ 'home.update' | translate }} {{ ('time.' + item.time) | translate }}</p>
          </ion-card-content>

          <!-- Preview image button -->
          <ion-button fill="clear" *ngIf="item.icon" class="popoverButton" (click)="openPopover($event, item)">
            <img src="assets/Images/Menu_Icons/image_preview.svg" />
          </ion-button>

          <!-- Preview image popover -->
          <ion-popover [isOpen]="popoverOpen === item" [event]="popoverEvent"
            (ionPopoverDidDismiss)="popoverOpen = null">
            <ng-template>
              <div class="popoverContent">
                <img [src]="item.icon" [alt]="item.title" />
                <p>{{ item.title }}</p>
                <ion-button class="exitButton" (click)="closePopover()">{{ 'home.close' | translate }}</ion-button>
              </div>
            </ng-template>
          </ion-popover>
        </ion-card>
      </ng-container>

    </div>

    <!-- No-URL content -->
    <ng-container *ngFor="let item of childContent">
      <ion-list *ngIf="!item.url && !item.hidden">
        <ion-item (click)="navigation(item)">
          <ion-label>
            <h1 class="selectionItem">{{ item.title }}</h1>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>

    <!--Main page search content-->
    <ng-container *ngIf="filteredData.length > 0">
      <div *ngFor="let group of filteredData">
        <h2 class="parentTitle">{{ group[0] }}</h2><!-- Parent Name -->

        <div class="gridContainer">
          <ng-container *ngFor="let item of group[1]">
            <ion-card *ngIf="item.url">
              <ion-card-header (click)="navigation(item)">
                <ion-card-title><a [href]="item.url" target="_blank" rel="noopener noreferrer" class="cardTitle">{{
                    item.title }}</a></ion-card-title>
                <ion-card-subtitle class="cardSubtitle">
                  <p>{{ item.description }}</p>
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content *ngIf="item.time"><p>{{ 'home.update' | translate }} {{ ('time.' + item.time) | translate }}</p></ion-card-content>

              <ion-button fill="clear" *ngIf="item.icon" class="popoverButton" (click)="openPopover($event, item)"><ion-icon name="image-outline"></ion-icon></ion-button>

              <ion-popover [isOpen]="popoverOpen === item" [event]="popoverEvent" (ionPopoverDidDismiss)="popoverOpen = null">
                <ng-template>
                  <div class="popoverContent">
                    <img [src]="item.icon" [alt]="item.title" />
                    <p>{{ item.title }}</p>
                    <ion-button class="exitButton" (click)="closePopover()">{{ 'home.close' | translate }}</ion-button>
                  </div>
                </ng-template>
              </ion-popover>

            </ion-card>
          </ng-container>
        </div>

      </div>
    </ng-container>
  </div>

</ion-content>

<!--Settings menu-->
<ion-menu side="end" contentId="main-content" class="settingsMenu">
  <ion-content class="ion-padding">
    <h4>{{ 'home.settings' | translate }}</h4>
    <ion-item>
      <ion-select label="{{ 'home.language' | translate }}" [(ngModel)]="selectedLanguage"(ionChange)="toggleLanguage($event.detail.value)">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="pt">Português</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button fill="clear" (click)="openInfoModal()"><img src="assets/Images/Menu_Icons/info.svg" class="itemIcon" />{{ 'home.about' | translate }}</ion-button>
    <br />
  </ion-content>
</ion-menu>

<ion-footer>
  <ion-toolbar>
    <h4 class="footerText">{{ 'home.footer' | translate }}</h4>
  </ion-toolbar>
</ion-footer>